{% extends 'booking_app/base.html' %}

{% block title %}Home Admin{% endblock %}

{% block content %}
<h2>Available Rooms</h2>
{% if rooms_with_availability %}
  {% for item in rooms_with_availability %}
    <div class="card mb-3 p-3">
      <h3>{{ item.room.room_number }} - {{ item.room.room_type.room_type_name }} (Capacity: {{ item.room.capacity }})</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          {% for avail in item.availability %}
            <tr>
              <td>{{ avail.get_day_of_week_display }}</td>
              <td>{{ avail.start_time|time:"H:i" }}</td>
              <td>{{ avail.end_time|time:"H:i" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% else %}
  <p>No rooms available. Add some in the admin panel.</p>
{% endif %}
{% endblock %}
